@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html {
  background-color:#fffafa;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.nome {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  gap: 10rem;
  align-items: center;
  background: #23232e;
  height: 10vh;
  color: white;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.foto {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
}

main {
  display: flex;
  height: 100svh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:black;
  color: #fff;
}

section {
  display: flex;
  gap: 10rem;
  margin-top: 15vh;
  font-family: "Roboto Mono", monospace;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

ul li {
  display: flex;
  justify-content: center;
  position: relative;
}

ul li ul.drop li {
  display: block;
  margin: 0.5rem;
  text-align: center;
}

ul li ul.drop {
  width: auto;
  background: #23232e;
  position: absolute;
  display: none;
  margin-top: 1.2rem;
  border-radius: .5rem;
}

ul li:hover ul.drop {
  display: block;

}

hr {
  margin-top: .2rem;
}