@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: black;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    width: 5rem;
    height: 5rem;
  }
  
  .nome {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  header {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    gap: 10rem;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 10vh;
    color: white;
  }
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  main {
    width: 99svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

  }
  
  section {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    background-color: darkgrey;
    text-align: justify;
    gap: 1rem; 
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    font-family: "Roboto Mono", monospace;
  }

section p{
  width: 40svw;
} 

section h2{
  color: #23232e;
}

.imagens {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 1.3rem; 
    border-radius: 1rem;
}


.icones {
    width: 6rem; 
    height: 6rem; 
    object-fit: cover; 
}

#imagem_central {
    width: 45rem;
    height: 22rem;
}


h2, h3 {
  color: white;
}

ul {
  list-style: none;
}

ul li {
  display: flex;
  justify-content: center;
  position: relative;
}

ul li ul.drop li {
  display: block;
  margin: 0.5rem;
  text-align: center;
}

ul li ul.drop {
  width: auto;
  background: #23232e;
  position: absolute;
  display: none;
  margin-top: 1.2rem;
  border-radius: .5rem;
}

ul li:hover ul.drop {
  display: block;

}

hr {
  margin-top: .2rem;
}